<div class="container">
    <div class="icing">
        <h2>Your Order</h2>
        <ul class="order">
            <li><span class="item-count">10</span><span class="item-name">Donuts</span><span class="item-price">$1.99ea</span></li>
        </ul>
        <div class="total">$19.90</div>
    </div>
    <div class="dough">
        <h2>Payment</h2>
        <form class="form">
            <div class="inputs">
                <div class="row">
                    <div class="column card-group">
                        <label class="label" for="card">Card</label>
                        <input class="text-input card-input" id="card" placeholder="1234 5678 9012 3456" />
                    </div>
                </div>
            </div>
            <app-button-about></app-button-about>
            <!-- <div class="buttons">
                <button class="order-button">Order</button>
            </div> -->
        </form>
    </div>
</div>